:root {
  --primary: #000000;
  --secondary: #ffffff;
  --tertiary: #ff4d06;
}
@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

* {
  color: var(--secondary);
  font-family: Inter;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Height reset */
html,
body {
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* Set default line height */
body {
  line-height: 1.5;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove text decoration from anchors */
a {
  text-decoration: none;
}

/*This is to hide the scroll bar*/
::-webkit-scrollbar {
  display: none;
}

/**** BASE STYLES ****/

html {
  font-size: 100%;
  scroll-behavior: smooth;
}
